SECRET_KEY=get_random_secret_key()  # from django.core.management.utils import
DEBUG=True  # True/False
ALLOWED_HOSTS=localhost  # cabeceras Hosts permitidas, dominio asignado al backend al momento del deploy
CORS_ALLOWED_ORIGINS=http://localhost:3000  # orígenes que pueden leer respuestas del backend
